# Frontend
VITE_SUPABASE_URL=https://zkaqykuraexzkeubwhmy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InprYXF5a3VyYWV4emtldWJ3aG15Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4ODQ3MjEsImV4cCI6MjA5NzQ2MDcyMX0.otcMaWpII_lLMHrdf34bakwG2T8a3DWbL-T1QKdWyAY
VITE_AI_API_URL=http://localhost:8000
