# Frontend
VITE_SUPABASE_URL=https://mtmxjcyefqyvqhgjmkcp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10bXhqY3llZnF5dnFoZ2pta2NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4ODQ1NTgsImV4cCI6MjA5NzQ2MDU1OH0.-Orzl7Yp2LIR3iQhLWcpFqQsX21oSl6hQUbhEG5zJYo
VITE_AI_API_URL=http://localhost:8000

# Backend Supabase
SUPABASE_URL=https://mtmxjcyefqyvqhgjmkcp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10bXhqY3llZnF5dnFoZ2pta2NwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODE4ODQ1NTgsImV4cCI6MjA5NzQ2MDU1OH0.-Orzl7Yp2LIR3iQhLWcpFqQsX21oSl6hQUbhEG5zJYo
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im10bXhqY3llZnF5dnFoZ2pta2NwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTg4NDU1OCwiZXhwIjoyMDk3NDYwNTU4fQ.0Chzrh63eJ1uvaYz-V69WVpTmNzCXGPEYcX-TpzqnBo

# AI Service
MODEL_PATH=ai-service/models/
PORT=8000

# Facebook
FACEBOOK_APP_ID=987832440723230
FACEBOOK_APP_SECRET=1fc3d4978a5eb6955dbe34f6a44823ee
FACEBOOK_PAGE_ID=61574163114774
FACEBOOK_PAGE_ACCESS_TOKEN=EAAOCbam6Fx4BR9FA95nWvDx5vH9uZA2sFbesJmQbHB8nh8gqky7Iq1EdnlDi6dZChGYjQ1qiNpHBxdGDTymYvYxavdXoJ2Nhjw4nN0zAmdjXAkLzG009uzZCSlMmSoTmUi5S15LWLuZCB5BNCbzeaYNNX6WiTgo1MWsodf0ZA00kkvQBV32ZBAp28uHWi1o6AloTRbZCpELk5Axb5WzKSZB6lWghvGBUP2IWwrAOH3Pf
FACEBOOK_VERIFY_TOKEN=aicommentsaas2026

# WhatsApp
WHATSAPP_ACCESS_TOKEN=EAAOCbam6Fx4BR3XjI622b5Ce7dFbxWA3TELImaXdO2cQZBcwWL7NGUP7ZCdZBxRDjbte2nsZAQ23B1TO1COspyeurVM5jDV2f3Un3ADg6EumRSY2Ur5JpRTOSLurxt8ZAAP2LWdZCGkLOkeV0nDZCxhSf5y2xWZBmqia58qiUaWJGuf9vU6MoZAJzRuZAxaqTtCE3gKFeWzE79Mmx0N0yq4Mik2o88jWVfLpvNJtsuhGqzbS6zc0qb6gWo6yAQ5IANDERgk9k4CUaguigHZARTsO7Pm0XXP
WHATSAPP_PHONE_NUMBER_ID=1148930094973362
WHATSAPP_VERIFY_TOKEN=aicommentsaas2026
WHATSAPP_BUSINESS_ACCOUNT_ID=2457823641402389
ADMIN_WHATSAPP_NUMBER=237680820692
